<ion-header translucent>
    <ion-toolbar color="light">
        <ion-title> {{search}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card *ngIf="error" color="primary">
        <ion-card-header>
            <ion-card-subtitle>No such word</ion-card-subtitle>
            <ion-card-title>please check the spelling</ion-card-title>
        </ion-card-header>
    </ion-card>
    <div *ngFor="let item of meaning">
        <div *ngFor="let audio of item.phonetics" style="text-align: center;">
            <audio *ngIf="audio?.audio" style="padding-top: 5px;" controls controlsList="nodownload">
        <source [src]="audio.audio | safeAudio  " >
        <!-- <source src="horse.mp3" type="audio/mpeg"> -->
        <!-- Your browser does not support the audio element. -->
        </audio>
        </div>
        <div *ngFor="let details of item.meanings">
            <div *ngFor="let definitions of details.definitions">
                <ion-card>
                    <p style="margin: 5px;">
                        <span><b>Meaning</b>: {{definitions.definition}}</span><br>
                        <span><b>Example</b>: {{definitions.example}}</span>
                    </p>

                </ion-card>

            </div>

        </div>
    </div>

</ion-content>