<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title> {{chapter_name}} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-item>
        <ion-label>Enable All</ion-label>
        <ion-toggle slot="end" name="apple" color="primary" checked></ion-toggle>
    </ion-item> -->
    <!-- <ion-item lines="none">
        <ion-label>
            {{chapterName}}
        </ion-label>
        <ion-button slot="end" size="small" color="tertiary" (click)="enableAllTopics()">Enable All</ion-button>
    </ion-item> -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- <ion-list *ngIf="topicLength > 0 ">
        <ion-list-header>
            <ion-label>Total reading: {{duration}} Minutes</ion-label>
            <ion-button (click)="StarReading()">Read Lesson</ion-button>
        </ion-list-header>
        <ion-progress-bar value="{{duration}}"></ion-progress-bar>

    </ion-list> -->
    <div *ngIf="!teacher">
        <ion-card style="text-align: center;width: 95%;">
            <!-- <img src="assets/images/mic-image.svg" alt="" style="height: 200px;"> -->
            <ion-card-header>

                <ion-card-title>Total reading: {{duration}} Minutes</ion-card-title>
            </ion-card-header>
            <!-- <ion-list>
                <ion-list-header>
                    <ion-label>50% Reading Completed</ion-label>
                </ion-list-header>
                <ion-progress-bar value="0.5"></ion-progress-bar>
            </ion-list> -->
            <ion-card-content>
                <ion-card-subtitle *ngIf="last_read">Last read on : {{last_read | date:'medium'}}</ion-card-subtitle>
                <!-- <ion-card-subtitle>Lesson Name : {{chapter_name}}</ion-card-subtitle> -->
            </ion-card-content>
        </ion-card>
        <ion-button expand="block" fill="outline" (click)="StarReading()">Read Lesson Now</ion-button>
    </div>
    <!-- Default Progressbar with 50 percent -->

    <!-- Display students reading  percentage -->
    <div *ngIf="teacher">
        <ion-item *ngFor="let item of readingList" detail>
            <ion-avatar slot="start">
                <img src="assets/images/profile.png" />
            </ion-avatar>
            <ion-label [routerLink]="['/','home',item.chapter,'exercises','reading-list',item.user_details]">
                <h2>{{item.user_details__profile__username}}</h2>
                <h3>Total reading time {{item.duration__sum / 60000 | number: '1.0-0'}} min</h3>
                <p>Last read on: {{item.last_read | date:'medium'}} </p>
            </ion-label>
        </ion-item>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="text-center">
                <ion-list inset="true" lines="full">
                    <!-- <ion-virtual-scroll [items]="topics"> -->
                    <ion-item *ngFor="let topic of topics" detail>
                        <ion-label *ngIf='teacher' [routerLink]="['/','home',topic.chapter,'exercises',topic.uuid,'answers']" class="ion-text-wrap">
                            <span *ngIf="topic.topic_no" style="color: blue">{{topic.topic_no}} &nbsp;</span><span *ngIf="!topic.topic_no">&nbsp;&nbsp;</span>
                            <span *ngIf="topic.is_exercise" style="color: blue" class="math-tex" [innerHTML]="topic.name"></span>
                            <span *ngIf="!topic.is_exercise" class="math-tex" [innerHTML]="topic.name"></span>
                        </ion-label>

                        <!-- <ion-label> </ion-label> -->
                        <ion-toggle (click)='enableTopic(topic.uuid)' *ngIf="topic.is_accessible &&  teacher===subject" slot="start" name="apple" color="primary" checked></ion-toggle>
                        <ion-toggle (click)='enableTopic(topic.uuid)' *ngIf="!topic.is_accessible &&  teacher===subject" slot="start" name="apple" color="primary"></ion-toggle>

                        <ion-label *ngIf='!teacher && topic.is_accessible ' [routerLink]="['/','home',topic.chapter,'exercises',topic.uuid,'answers']" class="ion-text-wrap">
                            <span *ngIf="topic.topic_no" style="color: blue">{{topic.topic_no}} &nbsp;</span><span *ngIf="!topic.topic_no">&nbsp;&nbsp;</span>
                            <span *ngIf="topic.is_exercise" style="color: blue" class="math-tex" [innerHTML]="topic.name"></span>
                            <span *ngIf="!topic.is_exercise" class="math-tex" [innerHTML]="topic.name"></span>
                        </ion-label>
                        <ion-label *ngIf='!teacher && !topic.is_accessible ' class="ion-text-wrap">

                            <span *ngIf="topic.topic_no" style="color: blue">{{topic.topic_no}} &nbsp;</span><span *ngIf="!topic.topic_no">&nbsp;&nbsp;</span>
                            <span *ngIf="topic.is_exercise" style="color: blue" class="math-tex" [innerHTML]="topic.name"></span>
                            <span *ngIf="!topic.is_exercise" class="math-tex" [innerHTML]="topic.name"></span>
                        </ion-label>
                        <ion-icon *ngIf='!teacher && !topic.is_accessible ' slot="start" name="lock-closed-outline"></ion-icon>
                    </ion-item>
                    <!-- </ion-virtual-scroll> -->
                </ion-list>

                <!-- <ion-list inset="true" lines="full">
                    <ion-virtual-scroll [items]="exercises">
                        <ion-item *virtualItem="let exe" [routerLink]="['/','home',exe.chapter,'exercises',exe.uuid,'answers']" detail color="primary">
                            <p> Exercise {{ exe.topic_no }}</p>


                        </ion-item>
                    </ion-virtual-scroll>
                </ion-list> -->

                <!-- <div *ngFor="let exe of exercises">
          <button class="accordion">
            Exercise {{ exe.exercise_no }}
            <span class="expand"></span>
          </button>
          <div class="panel">
            <div *ngFor="let q of exe.question" style="display: inline-block">
              <ion-button
                color="warning"
                [routerLink]="['/','home',exe.chapter,'exercises',q.uuid,'answers']"
                >{{q.question_no}}</ion-button
              >
            </div>
          </div>
        </div> -->


            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>