<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <!-- <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title> Description </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding forceOverscroll='true'>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row>

            <ion-col *ngFor="let ans of answer">
                <div *ngIf="ans.video_key">
                    <!-- <video width="100%" controls controlsList="nodownload" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" poster="assets/images/loading.png">
          <source [src]="ans.video" type="video/mp4" />
        </video> -->

                    <iframe #iframe [src]="videoUrl" width="100%" height="250" frameborder="0" allow="fullscreen;autoplay;" allowfullscreen loop="0">

                    </iframe>
                    <!-- <div id="made-in-ny"></div> -->
                    <!-- <button type="button" #myButton>My Button</button> -->
                    <!-- <ion-grid>
                        <ion-row class="ion-align-self-center">
                            <ion-col size="12" size-sm> -->

                    <div style="text-align: right;">
                        <ion-chip color="primary" [outline]='activity.gotIt? false:true' (click)=videoActivity(!activity.gotIt,activity.notClear,activity.checkLater,ans.uuid)>
                            <ion-label>Got it 👍</ion-label>
                        </ion-chip>
                        <ion-chip color="primary" [outline]='activity.notClear? false:true' (click)=videoActivity(activity.gotIt,!activity.notClear,activity.checkLater,ans.uuid)>
                            <ion-label>🤔 Not clear</ion-label>
                        </ion-chip>
                        <ion-chip color="primary" [outline]='activity.checkLater? false:true' (click)=videoActivity(activity.gotIt,activity.notClear,!activity.checkLater,ans.uuid)>
                            <ion-label>⭐ Check Later</ion-label>
                        </ion-chip>

                    </div>
                </div>
                <div>
                    <h3><span [innerHTML]="ans.topic?.name"></span></h3>
                    <h3><span [innerHTML]="ans.exercise?.name"></span></h3>
                </div>


                <!-- <details>
        <summary>Show details</summary> -->
                <div style="overflow: scroll;" class="math-tex" [innerHTML]="ans.content"> </div>
                <!-- </details> -->


                <div *ngFor="let sub of ans.sub_topic">
                    <ion-item detail [routerLink]="['/','home',sub.chapter,'exercises',sub.uuid,'answers']">
                        <p><span style="color: blue">{{sub.topic_no}}{{sub.exercise_no}} </span>
                            <span class="math-tex" [innerHTML]="sub.name"></span>
                        </p>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>