<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="ion-text-center icon">
        <!-- <p>Welcome to</p>
    <h1 style="color: red">STC</h1>
    <p>Student Teacher Companion App</p> -->
        <img height="150" src="assets/images/logo.png" alt="">
    </div>
    <!-- <ion-img [src]="assets/images/splash.png"></ion-img> -->

    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">User Name</ion-label>
                            <ion-input type="text" ngModel name="username" required #usernameCtrl="ngModel"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="!usernameCtrl.valid && usernameCtrl.touched" lines="none">
                            <p color="danger">Should be a valid User Name</p>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">password</ion-label>
                            <ion-input type="password" ngModel name="password" required minlength="6" #passwordCtr="ngModel"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="!passwordCtr.valid && passwordCtr.touched" lines="none">
                            <p color="danger">please enter the password</p>
                        </ion-item>
                    </ion-list>
                    <ion-button type="submit" color="primary" expand="block" [disabled]="!form.valid">
                        Login
                    </ion-button>
                    <!-- <ion-item color="danger" *ngIf="message">
                        <p>{{message}}</p>
                    </ion-item> -->
                    <!-- <ion-card>
                        <div class="text-center">
                            <h2>Ambika English Medium School</h2>
                            <p><b>Palakunnu</b></p>
                        </div>
                    </ion-card> -->
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>