<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home/{{chapterId}}/exercises"></ion-back-button>
        </ion-buttons>
        <ion-title>Lesson Reading</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card (click)="recordAudio()" *ngIf="!recordingStatus && !recordingPaused" style="text-align: center;width: 95%;">
        <img src="assets/images/mic-image.svg" style="height: 200px;" alt="">
        <ion-card-header>

            <ion-card-title>Start Recording {{timerInterval}}</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card *ngIf="recordingStatus && !recordingPaused" (click)="StopRecording()" color="success" style="text-align: center;width: 95%;">
        <img src="assets/images/mic-image.svg" alt="" style="height: 200px;">
        <ion-card-header>

            <ion-card-title>Stop Recording {{timerInterval}}</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card *ngIf="recordingPaused" (click)="resumeRecording()" color="warning" style="text-align: center;width: 95%;">
        <img src="assets/images/mic-image.svg" alt="" style="height: 200px;">
        <ion-card-header>

            <ion-card-title>Continue Recording {{timerInterval}}</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-button (click)="pauseRecording()" *ngIf="recordingStatus && !recordingPaused" expand="block" color="warning" expand="block">Pause Recording</ion-button>
    <ion-item>
        <ion-input placeholder="Find Meaning" [(ngModel)]="search"></ion-input>
        <ion-button size="small" (click)="findMeaning()">Search</ion-button>
    </ion-item>


    <ion-item *ngFor="let file of contents" lines="none">

        <audio style="padding-top: 5px;" controls controlsList="nodownload">
        <source src="{{file.url}}" >
        <source src="horse.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <ion-button color="danger" shape="round" (click)="presentAlert(file.uuid)">
            <ion-icon name="trash"></ion-icon>
        </ion-button>


    </ion-item>


</ion-content>