<ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-toolbar color="primary">
                <ion-title>STC App</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item routerLink="/home" button>
                        <ion-icon name="home-outline" slot="start"></ion-icon>
                        <ion-label>Home</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item routerLink="/profile" button>
                        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                        <ion-label>Profile</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle *ngIf="teacher">
                    <ion-item routerLink="/analytics" button>
                        <ion-icon name="analytics-outline" slot="start"></ion-icon>
                        <ion-label>Analytics</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item button href="https://play.google.com/store/apps/details?id=com.stc.app">
                        <ion-icon name="arrow-up-circle-outline" slot="start"></ion-icon>
                        <ion-label>Update</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item button (click)="logOut()">
                        <ion-icon name="exit" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>

            <!-- <ion-item lines="none">
                <ion-label>Dark Mode</ion-label>
                <ion-item lines="none">
                    <ion-toggle id="themeToggle" slot="end"></ion-toggle>
                </ion-item>
            </ion-item> -->

        </ion-content>
        <footer style="text-align: center;background-color: rgb(237, 237, 237);">
            <hr>
            <p style="color: black;">Version 1.19</p>
        </footer>
    </ion-menu>
    <ion-router-outlet id="main" main></ion-router-outlet>
</ion-app>