<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">

            <ion-buttons slot="start">
                <ion-back-button defaultHref="/home"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title>Analytics</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-item color="light"> -->
    <!-- <ion-label>Select Month</ion-label> -->
    <!-- <ion-datetime size="cover" presentation="month">
        <ion-buttons slot="buttons">
            <ion-button (click)="showdate()">Good to go!</ion-button>
            <ion-button (click)="showdate()">Reset</ion-button>
        </ion-buttons>
    </ion-datetime> -->
    <!-- <ion-datetime displayFormat="MMMM" [(ngModel)]="myDate" (ionChange)="showdate()" value="2012-12-15T13:47:20.789"></ion-datetime> -->
    <!-- <ion-datetime [(ngModel)]="myDate" (ionChange)="showdate()" displayFormat="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime> -->
    <!-- </ion-item> -->
    <ion-list *ngFor="let st of data">
        <ion-item>
            <ion-label>{{st.user__first_name}} {{st.last__name}}</ion-label>
            <span>{{st.watched}}</span>
        </ion-item>
    </ion-list>
</ion-content>