<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>My Profile </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row *ngFor="let prfl of profile">
            <ion-col size="12" size-sm="8" offset-sm="2">
                <div align="center">
                    <ion-avatar>
                        <!-- <ion-img [src]="prfl.profile_photo"></ion-img> -->
                        <!-- <ion-img [src]="assets/images/profile.png"></ion-img> -->
                        <img src="assets/images/profile.png" alt="">

                    </ion-avatar>
                </div>

                <ion-card>
                    <ion-item>
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <ion-label>&nbsp;Username: {{prfl.profile.username}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="school"></ion-icon>
                        <ion-label>&nbsp;Class: {{prfl.class_now}}
                        </ion-label>
                    </ion-item>
                    <!-- <ion-item>
                        <ion-icon name="person-outline"></ion-icon>
                        <ion-label>&nbsp; Teacher: {{prfl.teacher}}</ion-label>
                    </ion-item> -->
                </ion-card>
                <ion-card>
                    <h3 style="text-align: center">{{prfl.profile.school.name}}</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<footer style="text-align: center">
    <p>Developed by HighTap</p>
</footer>