<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Chapters</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item color="light">
        <ion-label>Select Subject</ion-label>
        <ion-select [(ngModel)]="subjectChoice" (ionChange)="subjectItem($event)" selectedText="{{subjectName}}" interface="action-sheet">
            <ion-select-option *ngFor="let subject of subjects" [value]="subject">{{subject.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-segment *ngIf="subjectName === 'Mathematics'" scrollable [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)" color="primary">
        <ion-segment-button value="all">All Chapter</ion-segment-button>
        <ion-segment-button value="later" checked='true'>check later</ion-segment-button>
        <ion-segment-button value="notClear" checked='true'>Not Clear</ion-segment-button>
        <ion-segment-button value="gotIt" checked='true'>Got it</ion-segment-button>
    </ion-segment>
    <ion-segment *ngIf="subjectName !== 'Mathematics'" value="all" color="primary">
        <ion-segment-button checked='true' value="all">All Chapter</ion-segment-button>
    </ion-segment>

    <ion-grid>
        <ion-row *ngIf="segmentValue==='all' ">
            <ion-col size="12 " size-sm="8 " offset-sm="2 " class="text-center ">
                <div *ngFor="let chapter of chapters">
                    <ion-item [routerLink]="[ '/', 'home',chapter.uuid, 'exercises'] " detail>
                        <ion-thumbnail slot="start">
                            <img src="{{thumbnailImage}}">

                        </ion-thumbnail>
                        <ion-label>
                            <p>Chapter {{chapter.chapter_no}}</p>
                            <h2>{{chapter.name}}</h2>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="segmentValue==='later' ">
            <ion-col size="12 " size-sm="8 " offset-sm="2 " class="text-center ">
                <ion-virtual-scroll [items]="checkLaterItem?.topic">
                    <ion-item *virtualItem="let topic" [routerLink]="['/','home',topic.topic.chapter,'exercises',topic.topic.uuid,'answers']" detail>
                        <!-- <p><span style="color: blue">{{topic.topic_no}} -</span> {{topic.name}}</p> -->
                        <!-- <ion-label> </ion-label> -->
                        <span *ngIf="topic.topic.topic_no" style="color: blue">{{topic.topic.topic_no}} &nbsp;</span><span *ngIf="!topic.topic.topic_no">&nbsp;&nbsp;</span>
                        <span class="math-tex" [innerHTML]="topic.topic.name"></span>
                    </ion-item>
                </ion-virtual-scroll>

            </ion-col>
            <p *ngIf="checkLaterItem.topic.length===0">No Content Available</p>
        </ion-row>
        <ion-row *ngIf="segmentValue==='notClear' ">
            <ion-col size="12 " size-sm="8 " offset-sm="2 " class="text-center ">
                <ion-list *ngFor="let item of notClearItems">
                    <ion-item [routerLink]="['/','home',item.topic__chapter,'exercises',item.topic__uuid,'answers']" detail>
                        <!-- <span *ngIf="topic.topic.topic_no" style="color: blue">{{topic.topic.topic_no}} &nbsp;</span><span *ngIf="!topic.topic.topic_no">&nbsp;&nbsp;</span> -->
                        <span class="math-tex" [innerHTML]="item.topic__name"></span>
                        <ion-label *ngIf="isTeacher" slot="end">{{item.count}}</ion-label>

                    </ion-item>
                </ion-list>
            </ion-col>
            <p *ngIf="notClearItems.length===0">No Content Available</p>
        </ion-row>
        <ion-row *ngIf="segmentValue==='gotIt' ">
            <ion-col size="12 " size-sm="8 " offset-sm="2 " class="text-center ">
                <ion-list *ngFor="let item of gotItItems">
                    <ion-item [routerLink]="['/','home',item.topic__chapter,'exercises',item.topic__uuid,'answers']" detail>
                        <span class="math-tex" [innerHTML]="item.topic__name"></span>
                        <ion-label *ngIf="isTeacher" slot="end">{{item.count}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
            <p *ngIf="gotItItems.length===0">No Content Available</p>
        </ion-row>

    </ion-grid>
</ion-content>